body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f0f0f0;
}

.pokemon-logo {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  cursor: pointer;
}

.pokemon-logo img {
  width: 400px;
  min-width: 300px;
}

.pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 78vh;
  min-width: 300px;
  background-color: #fb6c6c;
  color: white;
  border-radius: 20px;
  overflow: hidden;
}

.pokedex-text {
  min-height: 150px;
}

#pokedex h3 {
  background-color: #ffffff4f;
  padding: 5px 40px 5px 40px;
  border-radius: 20px;
  margin-top: -5px;
}

.info-container {
  background-color: white;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  min-width: 370px;
  min-height: 300px;
  padding: 40px 10px 40px 10px;
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.pokemon-image {
  width: 200px;
}

#sections-container {
  width: 350px;
  height: 300px;
}

.pokedex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pokedex-background {
  background-color: rgba(129, 129, 129, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pokedex-mini {
  display: flex;
  flex-wrap: wrap;
  margin: 35px 100px 50px 100px;
  justify-content: center;
  align-items: center;
}

.pokedex-mini-container {
  min-width: 250px;
  min-height: 150px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokedex-mini-container:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.pokedex-mini-container img {
  width: 100px;
  height: 100px;
  margin-right: -17px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokedex-mini-container img:hover {
  transform: scale(2.05);
}

.pokemon-type {
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}
.pokemon-type-mini {
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 20px;
  padding: 5px;
}

h4 {
  font-size: 13px;
  text-align: center;
  width: 70px;
}

.pokedex-text-mini {
  margin-right: 20px;
}

.about-section {
  margin-top: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.about-section b {
  margin-left: 40px;
}

.about-sections span {
  margin-bottom: 10px;
}

.about-text {
  display: flex;
  justify-content: space-between;
  color: #58abf6;
}

.moves-section {
  display: flex;
  width: 300px;
  margin-top: 75px;
  overflow: scroll;
  height: 295px;
}

.moves-section b {
  display: flex;
  font-weight: normal;
  gap: 10px;
}

.moves-section span {
  font-weight: bold;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.data-container {
  height: 250px;
  display: flex;
  align-items: center;
}

.canvas {
  max-width: 330px;
  max-height: 275px;
}

.section-links {
  position: absolute;
  top: 53%;
}

.section-links button {
  border: none;
  background-color: white;
  color: #58abf6;
  margin-right: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.section-links button.active {
  border-bottom: 2px solid #0389ff;
  color: #0389ff;
}

.loadMorePokemon {
  padding: 10px 20px;
  border: none;
  background-color: #ff3d3d;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px #999;
}

.loadMorePokemon:hover {
  background-color: #58abf6; /* Poké Ball button blue */
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.loadBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.left,
.right {
  position: fixed;
  top: 44%;
  z-index: 5;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.left {
  left: calc(30vw - 50px);
}

.right {
  right: calc(30vw - 50px);
}

.left:hover,
.right:hover {
  transform: scale(1.1);
}

.left:active,
.right:active {
  transform: scale(0.9);
}

.pokemon-number {
  height: 0px;
  margin-left: 79%;
  margin-top: -2%;
}

.close-btn {
  height: 0px;
  margin-right: 79%;
  margin-top: 4%;
  cursor: pointer;
}

.search-input {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

input {
  width: 450px;
  height: 40px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  outline: none;
  padding-left: 30px;
  padding-right: 30px;
}

input:focus {
  border: 1px solid lightgray;
}

.search-not-found h2 {
  text-align: center;
}

.search-not-found img {
  max-width: 100%;
  min-width: 80%;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9999996b;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #2c6bb4;
  border-top-color: #ffcc01;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

span {
  color: black;
}

b {
  color: black;
}

.d-none {
  opacity: 0;
  visibility: hidden;
}

/* Scrollbar track (background) */
::-webkit-scrollbar {
  width: 16px; /* Adjust the width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light grey, reminiscent of a Poké Ball's center */
  border: 4px solid #ffffff; /* White border to mimic the Poké Ball design */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    135deg,
    #ff0000 0%,
    #ff0000 50%,
    #ffffff 50%,
    #ffffff 100%
  ); /* Red and white for the iconic Poké Ball look */
  border-radius: 8px; /* Slightly rounded corners for the scrollbar handle */
  border: 2px solid #000000; /* Black border to add contrast and mimic the Poké Ball's lines */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    135deg,
    #cc0000 0%,
    #cc0000 50%,
    #e0e0e0 50%,
    #e0e0e0 100%
  ); /* Darker red and a lighter grey on hover for interactivity */
}

@media (max-width: 1200px) {
  .left {
    left: calc(20vw - 50px);
  }

  .right {
    right: calc(20vw - 50px);
  }
}

@media (max-width: 800px) {
  .left {
    left: calc(15vw - 50px);
  }

  .right {
    right: calc(15vw - 50px);
  }
}

@media (max-width: 780px) {
  #pokedex-mini {
    margin: 30px 50px 30px 50px;
  }
}

@media (max-width: 680px) {
  #pokedex-mini {
    margin: 20px 30px 20px 30px;
  }

  .left {
    left: calc(33vw - 50px);
  }

  .right {
    right: calc(33vw - 50px);
  }
}

@media (max-width: 540px) {
  .left {
    left: calc(28vw - 50px);
  }

  .right {
    right: calc(28vw - 50px);
  }

  input {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 440px) {
  .left {
    left: calc(23vw - 50px);
  }

  .right {
    right: calc(23vw - 50px);
  }
}

@media (max-width: 400px) {
  .pokedex {
    width: 224px;
    max-height: 98vh;
  }

  .info-container {
    width: 285px;
    min-width: 285px;
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .about-section {
    width: 224px;
  }

  .moves-section {
    width: 224px;
  }

  .left {
    left: calc(25vw - 50px);
    width: 60px;
  }

  .right {
    right: calc(25vw - 50px);
    width: 60px;
  }
}

@media (max-width: 380px) {
  .left {
    left: calc(22vw - 50px);
  }

  .right {
    right: calc(22vw - 50px);
  }
}
